* {
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #02101d;
       display: flex;
    justify-content: center;
    align-items: center;
 
}
.mohamed{
    width: 358px;
    height: 570px;
    background-image:url(imge/5796324138988277270.jpg);
    background-size: cover;
    border:black 9px solid ;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 60px auto;
    position: relative;
}
.color{
    width: 200px;
    height: 6px;
    background-color: black;
    margin-left:80px;
}

.mark{
    font-size: xx-large;
    animation: mark 2s;
    text-align: center;
}
@keyframes mark{
    from{
        transform: translatey(-30px);
        opacity: 0;
    }
    to{
          transform: translatey(0px);
          opacity: 1;
        
    }
}
.mark p{
    animation: pragrav 5s infinite;
}
@keyframes pragrav{
    0%{
        color: aqua;
    }
    25%{
        color: red;
    }
    50%{
        color:yellow;
    }
    75%{
        color:green;
    }
    100%{
        color:aqua;
    }
}
.mark i{
    animation: anas 4s;
    color: white;
   text-shadow: 4px 3px 0px black;
}
@keyframes anas{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.div{
    width: 55px;
    height: 7px; 
    position: absolute;
    animation: div 2s infinite;
}
@keyframes div{
    50%{
        transform: translateX(270px);
    }
}
.div .trans{
 background-color: red;
 width: 90%;
 height: 90%;
 border-radius: 50%;
 animation: color .02s infinite linear;
}
@keyframes color{
    0%{
        background-color: red;
    transform: rotate(0deg) ;

    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: black;
    }
    100%{
        background-color: red;
          transform: rotate(360deg);
          
    }
}
.div-2{
    width: 55px;
    height: 7px;
    position: absolute;
    left: 270px;
      animation: div-2 2s infinite;
}
@keyframes div-2{
    50%{
        transform: translateX(-260px);
    }
    }
.div-2 .trans-2{
 width: 90%;
 height: 90%;
 border-radius: 50%;
 animation: color-2 .02s infinite linear;
 
}
@keyframes color-2{
    0%{
        background-color: red;
    transform: rotate(0deg) ;

    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: black;
    }
    100%{
        background-color: red;
          transform: rotate(360deg);
          
    }
}
.style{
margin-top: 280px
}
.input{
    text-align: center;
}
.input input[type=text]{
    width: 120px;
    height: 30px;
    margin: 12px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
}
.input input[type=submit]{
    background-color: aqua;
}
.input input[type=submit]:hover{
    background-color: blue;
}